{#layout name="public/layout" /#}
{#load href="__ROOT__/assets/css/article.css" /#}
<div class="content_wrapper" id="app">
    <div class="content">
        <div class="information_detailed clearfix">
            <div class="information_detailed_left float" style="width: 100%;">

                <div class="detailed_title_box">
                    <p class="detailed_title">{#$info.title#}</p>
                    <div class="detailed_bottom clearfix">
                        <span class="original">长丰英才网</span>
                        <span class="guide">{#$info.category_text#}</span>
                        <p class="handle_right">
                            <el-popover placement="bottom-end" width="200" trigger="hover">
                                <span>
                                    <img :src="shareQrcode" width="174" height="174" />
                                    <span style="display:block;width:174px;text-align: center;">请用微信扫一扫</span>
                                </span>
                                <span class="share" slot="reference">分享</span>
                            </el-popover>
                            <span class="handle_time">{#$info.addtime#}</span>
                        </p>
                    </div>
                </div>
                <div class="detailed_con"
                    style="overflow: scroll;overflow-y: scroll;overflow-y: hidden; margin-bottom: 10px">
                    {#$info.content#}
                    {#if condition="count($info.attach) gt 0"#}
                    <div style="margin-top:20px;" class="attach-list">
                        <ul>
                            {#volist name="info.attach" id="vo"#}
                            <li>附件【<a
                                    href="{#:url('index/download/index')#}?url={#:urlencode($vo.url)#}&name={#$vo.name#}"
                                    target="_blank">{#$i#}：{#$vo.name#}</a>】
                            </li>
                            {#/volist#}
                        </ul>
                    </div>
                    {#/if#}
                    {#if condition="$NotExamNotice == false && $EndExamNotice==false"#}
                    <div style="text-align: center">
                        <button @click="handleSignBtn" id="ExamNoticeSignBtn" ref="ExamNoticeSignBtn" data-href="-1"
                            style="display: inline-block;background: #1787fb; font-size:24px; height: 70px;width: 200px;border-radius: 10px;line-height: 70px;color: #fff;margin-top: 2rem;">
                            立即报名 </button>
                    </div>


                    <div class="sign_btn_right" @click="handleSignBtn" style="width: 3.5rem;
                        display: inline-block;
                        background: rgb(23, 135, 251) none repeat scroll 0% 0%;
                        font-size: 24px;
                        border-radius: 3px;
                        color: rgb(255, 255, 255);
                        margin-top: 2rem;
                        text-align: center;
                        height: 11rem;
                        line-height: 11rem;
                        position: fixed;
                        top: 400px;
                        right: 290px;
                        padding-top: 0.7rem;">
                        <ul>
                            <li style="height: 2.2rem;">立</li>
                            <li style="height: 2.2rem;">即</li>
                            <li style="height: 2.2rem;">报</li>
                            <li style="height: 2.2rem;">名</li>
                        </ul>
                    </div>
                    {#/if#}
                </div>

                <div class="detailed_paging clearfix">
                    {#if condition="$prev===null"#}
                    <a class="rec">上一篇： 没有了</a>
                    {#else /#}
                    <a class="rec" href="{#$prev.link_url#}" target="_blank">上一篇： {#$prev.title#}</a>
                    {#/if#}
                    {#if condition="$next===null"#}
                    <a class="rec">下一篇： 没有了</a>
                    {#else /#}
                    <a class="rec" href="{#$next.link_url#}" target="_blank">下一篇： {#$next.title#}</a>
                    {#/if#}
                </div>
            </div>
        </div>
    </div>
    <script>
        var id = parseInt("{#$info.id#}")
        var app = new Vue({
            el: '#app',
            data: {
                clickNum: 0,
                shareQrcode: ''
            },
            created: function () {
                this.addClick()
                var locationUrl = "{#$info.share_url#}"
                this.shareQrcode = qscms.apiUrl + qscms.apiList.qrcode + '?type=normal&url=' + location.href
                console.log(locationUrl);
                console.log(this.shareQrcode);
            },
            methods: {
                addClick: function () {
                    var that = this
                    httppost(qscms.apiList.articleClick, { id: id }).then(function (res) {
                        that.clickNum = res.data
                    }).catch(function () {
                    })
                },
                handleSignBtn() {
                    let signState = this.$refs.ExamNoticeSignBtn.attributes['data-href'].value * 1
                    if (isNaN(signState)) {
                        this.$message({
                            type: 'error',
                            message: '请勿修改元素!即将重新载入!'
                        });
                        setTimeout(() => {
                            location.reload()
                        }, 1500)
                        return false
                    }
                    let ExamSignUrl = "/member/personal/test/detailsNotice?exam_project_id={#$ExamNotice#}"
                    let ExamApplayUrl = "/member/personal/test/applay"
                    switch (signState) {
                        case -1:
                            if (typeof Storage !== "undefined") {
                                this.$confirm('报名考试需要先登录账号，是否前往登录？', '温馨提示', {
                                    confirmButtonText: '前往',
                                    cancelButtonText: '关闭',
                                    type: 'info'
                                }).then(() => {
                                    localStorage.setItem("ExamSignUrl", location.href);
                                    localStorage.setItem("EndExamNoticeTime", "{#$EndExamNoticeTime#}");
                                    localStorage.setItem("StartExamNoticeTime", "{#$StartExamNoticeTime#}");
                                    location.href = "/member/login"
                                }).catch(() => {
                                });
                            } else {
                                this.$message({
                                    type: 'error',
                                    message: '请勿修改元素！即将重新载入！'
                                });
                            }
                            break;
                        case 0:
                            location.href = ExamSignUrl
                            break;
                        case 1:
                            location.href = ExamApplayUrl
                            break;
                        default:
                            this.$message({
                                type: 'error',
                                message: '请勿修改元素！即将重新载入！'
                            });
                            setTimeout(() => {
                                location.reload()
                            }, 1500)
                            return false
                            break;
                    }
                },
                openNessAge() {

                }
            }
        })
    </script>