@charset "UTF-8";
/*职位分类*/
.cat_nav { float: left; width: 280px; height: 430px; padding: 9px 0; z-index: 2; position: relative; cursor: default; background: #fff; }

.cat_nav * { -webkit-box-sizing: border-box; box-sizing: border-box; }

@-webkit-keyframes fadeInLeftBig { 0% { opacity: 0; -webkit-transform: translateX(-5px); transform: translateX(-5px); }
  to { opacity: 1; -webkit-transform: translateX(0); transform: translateX(0); } }
@keyframes fadeInLeftBig { 0% { opacity: 0; -webkit-transform: translateX(-5px); transform: translateX(-5px); }
  to { opacity: 1; -webkit-transform: translateX(0); transform: translateX(0); } }
.jno_item_pop_container { animation: fadeInLeftBig .3s ease-in-out; -webkit-animation: fadeInLeftBig .3s ease-in-out; }

.jno_item { position: relative; height: 44px; font-size: 14px; }

.jno_item .jno_item_text { position: relative; width: 280px; padding: 0 24px; height: 42px; line-height: 42px; border-right: none; z-index: 999; color: #333; font-weight: 600; border-top: 1px solid #fff; background-color: #fff; -webkit-transition: color .3s ease-in-out; -o-transition: color .3s ease-in-out; transition: color .3s ease-in-out; }

.jno_item .jno_item_text:after { content: ""; width: 16px; height: 16px; position: absolute; top: 50%; right: 24px; transform: translate(0, -50%); -webkit-transform: translate(0, -50%); background: url("../images/jna_arr.png") no-repeat; }

.jno_item a.jno_item_text { text-decoration: none; }

.jno_item_text2 { position: relative; padding: 0 24px; height: 44px; line-height: 44px; border-right: none; color: #333; border-top: 1px solid #fff; background-color: #fff; display: block; font-weight: 600; }

.jno_item_text2:hover { color: #2e95ff; text-decoration: none; }

.jno_item:hover { border-top: 1px solid #e6e8ec; border-bottom: 1px solid #e6e8ec; }

.jno_item:hover .jno_item_text { position: absolute; top: 0; left: 0; color: #2e95ff; }

.jno_item:hover .jno_item_text:after { display: none; }

.jno_item:hover .jno_item_text:before { content: ""; position: absolute; top: 0; width: 10px; right: -5px; height: 100%; background-color: #fff; }

.jno_item:hover .jno_item_text:before { display: none; }

.jno_item_pop { position: absolute; top: -10px; left: 280px; width: 715px; height: 433px; display: none; background-color: #fff; padding: 0 0 5px; border: 1px solid #e6e8ec; z-index: 99; overflow-y: auto; }

.jno_item_pop::-webkit-scrollbar { width: 0; }

.jno_item_pop_list { margin-bottom: 15px; padding: 15px 24px; line-height: 32px; }

.jno_item_pop_href { display: inline-block; width: 24%; cursor: pointer; color: #666; }

.jno_item_pop_href:hover { color: #1787fb; }

.jno_item_pop_title { padding-bottom: 10px; margin: 10px 20px 0; font-size: 16px; font-weight: 700; border-bottom: 1px solid #e6e8ec; }

.jno_item:hover .jno_item_pop { display: block; height: 430px; }

/*通栏广告位*/
.source_1 { margin-top: 0; }

.source_1 .img { width: 1200px; height: 80px; margin-top: 10px; display: block; }

.source_1 .img img { width: 1200px; height: 80px; border: 0; }

/*1/2广告位*/
.source_2 { width: 1200px; }

.source_2 .img { display: block; position: relative; float: left; width: 595px; height: 80px; margin: 10px 10px 0 0; }

.source_2 .img:nth-of-type(2n) { margin-right: 0; }

.source_2 .img img { width: 595px; height: 80px; border: 0; }

@keyframes changeP { 0%,100% { transform: translateX(0); }
  50% { transform: translateY(-3px); } }
@-webkit-keyframes changeP { 0%,100% { transform: translateX(0); }
  50% { transform: translateY(-3px); } }
/*1/3广告位*/
.source_3 { width: 1200px; }

.source_3 .sou_cell { position: relative; float: left; width: 394px; height: 80px; text-align: center; text-decoration: none; z-index: 1; margin: 10px 9px 0 0; }

.source_3 .sou_cell:hover { z-index: 15; }

.source_3 .sou_cell:nth-of-type(3n) { margin-right: 0; }

.source_3 .sou_cell .sc_ab { position: absolute; left: 0; top: 0; width: 100%; }

.source_3 .sou_cell .sc_ab img { width: 394px; height: 80px; display: block; }

.source_3 .sou_cell:hover .sc_ab { /*border:solid 1px #2f7fd6;*/ z-index: 15; background: #ffffff; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 0 6px rgba(0, 0, 0, 0.2); }

.source_3 .sou_cell .a2_jobs { display: none; }

.source_3 .sou_cell:hover .a2_jobs, .source_3 .sou_cell:hover .a2_btn { display: block; }

/*.source_3 .sou_cell:hover .sc_ab{border: 1px solid #1787fb;}*/
.source_3 .sou_cell .a2_jobs { padding: 17px 0 0 0; overflow: hidden; }

.source_3 .sou_cell .a2_jobs .jn { margin-bottom: 15px; text-align: left; padding: 0 30px 0 18px; }

.source_3 .sou_cell .a2_jobs .jn a { display: block; transition: background-color 0.2s linear 0s; text-decoration: none; height: 20px; line-height: 20px; color: #646464; font-size: 14px; max-width: 300px; margin-right: 20px; float: left; }

.source_3 .sou_cell .a2_jobs .jn a:hover { color: #1787fb !important; }

.source_3 .sou_cell .a2_jobs .jn .hot { color: #f90; font-size: 12px; -webkit-animation: infinite .6s changeP; animation: infinite .6s changeP; display: block; float: right; font-style: normal; height: 20px; line-height: 20px; }

.source_3 .sou_cell .a2_btn { padding: 0 0 17px 0; width: 320px; margin: 0 auto; display: none; }

.source_3 .sou_cell .a2_btn .bt_l { display: block; width: 150px; height: 32px; line-height: 32px; text-align: center; font-size: 14px; text-decoration: none; border-radius: 4px; background-color: #1787fb; transition: all .3s; border: 1px solid #1787fb; }

.source_3 .sou_cell .a2_btn .bt_l:hover { text-decoration: none; }

.source_3 .sou_cell .a2_btn .bt_l.l { float: left; color: #fff; background-color: #1787fb; }

.source_3 .sou_cell .a2_btn .bt_l.l:hover { background-color: #177ce4; }

.source_3 .sou_cell .a2_btn .bt_l.r { float: right; color: #1787fb; background-color: #fff; }

.source_3 .sou_cell .a2_btn .bt_l.r:hover { background-color: #177ce4; color: #fff; }

/*1/5广告位*/
.source_5 { width: 1200px; }

.source_5 .sou_cell { position: relative; float: left; width: 232px; height: 80px; text-align: center; text-decoration: none; z-index: 1; margin: 10px 10px 0 0; }

.source_5 .sou_cell:hover { z-index: 15; }

.source_5 .sou_cell:nth-of-type(5n) { margin-right: 0; }

.source_5 .sou_cell .sc_ab { position: absolute; left: 0; top: 0; width: 100%; }

.source_5 .sou_cell .sc_ab img { width: 232px; height: 78px; display: block; }

.source_5 .sou_cell:hover .sc_ab { z-index: 15; background: #ffffff; }

.source_5 .sou_cell .a2_jobs { display: none; }

.source_5 .sou_cell:hover .a2_jobs { display: block; border-top: 1px solid #f3f3f3; }

.source_5 .sou_cell:hover .sc_ab { box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 0 6px rgba(0, 0, 0, 0.2); }

.source_5 .sou_cell .a2_jobs { padding: 17px 0 0 0; overflow: hidden; }

.source_5 .sou_cell .a2_jobs .jn { margin-bottom: 15px; text-align: left; padding: 0 20px 0 18px; }

.source_5 .sou_cell .a2_jobs .jn a { display: block; transition: background-color 0.2s linear 0s; text-decoration: none; height: 20px; line-height: 20px; color: #646464; font-size: 14px; max-width: 152px; margin-right: 20px; float: left; }

.source_5 .sou_cell .a2_jobs .jn a:hover { color: #1787fb !important; }

.source_5 .sou_cell .a2_jobs .jn .hot { color: #f90; font-size: 12px; -webkit-animation: infinite .6s changeP; animation: infinite .6s changeP; display: block; float: right; font-style: normal; height: 20px; line-height: 20px; }

/*1/6广告位*/
.source_6 { width: 1200px;  background: #fff; margin-top: 10px; overflow: hidden; }

.source_6 .sou_cell { float: left; display: block; width: 200px; height: 130px; border-right: 1px solid #f4f4f4; border-bottom: 1px solid #f4f4f4; text-decoration: none; color: #333; position: relative; }

.source_6 .sou_cell .igb { position: relative; width: 200px; height: 90px; margin-bottom: 6px; }

.source_6 .sou_cell .igb img { position: absolute; left: 50%; top: 50%; max-width: 199px; max-height: 90px; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); }

.source_6 .sou_cell .name { max-width: 178px; height: 20px; line-height: 20px; word-break: break-all; text-align: center; margin: 0 auto; }

.source_6 .sou_cell .name a { color: #333; }

.source_6 .sou_cell .name a:hover { text-decoration: underline; }

.source_6 .sou_cell .sou_layer { visibility: hidden; opacity: 0; transition: all .3s; position: absolute; z-index: 2; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); }

.sou_cell .sou_layer .sou_layer_box { display: block; position: absolute; width: 100%; height: 100%; left: 0; top: 0; text-align: center; text-decoration: none; }

.sou_cell .sou_layer .sou_layer_box p { width: 150px; line-height: 22px; color: #fff; font-size: 13px; font-weight: 500; margin: 30px auto 0; overflow: hidden; word-break: break-all; }

.sou_cell .sou_layer .sou_layer_box span { display: block; position: absolute !important; bottom: 35px; left: 50%; width: 86px; height: 24px; line-height: 24px; margin: 0 0 0 -43px; color: #fff; font-size: 13px; font-weight: 500; background: #3c8ce5 url("../images/sou_layer_arr.png") 67px center no-repeat; border-radius: 20px; padding: 0 18px 0 10px; background-size: 12px; }

.source_6 .sou_cell:hover .sou_layer { visibility: visible; opacity: 1; }

/*hover广告位*/
.source_hover { height: 150px; }

.da-thumbs { list-style: none; height: 150px; position: relative; padding: 0; }

.da-thumbs li { float: left; margin-right: 10px; background: #ffffff; border: 0; height: 150px; }

.da-thumbs li:nth-of-type(4) { margin-right: 0; }

.da-thumbs li a { display: block; position: relative; height: 150px; }

.da-thumbs li a { overflow: hidden; color: #ffffff; }

.da-thumbs li a img { width: 150px; height: 150px; }

.da-thumbs li a div { position: absolute; background: #388be1; opacity: 0.9; width: 100%; height: 100%; }

.da-thumbs li a div.da-animate { -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }

/* Initial state classes: */
.da-slideFromTop { left: 0px; top: -100%; }

.da-slideFromBottom { left: 0px; top: 100%; }

.da-slideFromLeft { top: 0px; left: -100%; }

.da-slideFromRight { top: 0px; left: 100%; }

/* Final state classes: */
.da-slideTop { top: 0px; }

.da-slideLeft { left: 0px; }

.da-thumbs li a em { display: block; width: 30px; height: 3px; background: #ffc600; margin: 0 auto; }

.da-thumbs li a h2 { font-size: 14px; height: 20px; line-height: 20px; font-weight: bold; overflow: hidden; margin: 8px; color: #ffffff; text-align: center; }

.da-thumbs li a p { font-size: 12px; line-height: 18px; margin: 6px 8px; }

/*轮播广告位1*/
.source_swiper_1 { width: 630px; height: 270px; margin-bottom: 10px; }

.source_swiper_1 .img { width: 630px; height: 270px; border: 0; }

/*轮播广告位2*/
.source_swiper_2 { width: 300px; height: 368px; margin-right: 10px; float: left; }

.source_swiper_2 img { width: 300px; height: 368px; border: 0; }

/*图片加广告字样*/
.source_1 .img, .source_2 .img, .source_6 .img { position: relative; z-index: 1; }

.source_1 .img .pcd, .source_2 .img .pcd { display: block; width: 24px; height: 14px; overflow: hidden; position: absolute; left: 0; bottom: 0; background: url("../images/identification.png") no-repeat 0 0; }

.source_3 .sou_cell .pcd, .source_5 .sou_cell .pcd { display: block; position: absolute; left: 1px; bottom: 1px; width: 24px; z-index: 16; height: 14px; overflow: hidden; background: url("../images/identification.png") no-repeat 0 0; }

.source_5 .sou_cell .pcd { left: 0; bottom: 2px; }

.swiper-slide .pcd { display: block; width: 24px; height: 14px; overflow: hidden; position: absolute; left: 0; bottom: 3px; background: url("../images/identification.png") no-repeat 0 0; }

button { border: none; background: none; }

.con1_sidebar { width: 280px; background: #fff; padding: 26px 20px; }

.con1_sidebar li { margin-bottom: 19px; font-size: 14px; color: #404c5b; background: url(../images/sidebar_icon.png) right no-repeat; cursor: pointer; }

.con1_sidebar li:last-child { margin-bottom: 0; }

.sidebar_span { margin-right: 10px; position: relative; }

.sidebar_span::before { content: ""; position: absolute; right: -7px; top: 1px; width: 2px; height: 15px; background-color: #a9adb2; }

.con1_imgbox { width: 630px; margin: 0 10px; }

.imgbox1 { height: 270px; background: #8b8b8b; margin-bottom: 10px; }

.con1_notice { border-top: 1px solid #efefef; padding: 8px 16px 23px; }

.con1_login { width: 270px; height: 430px; background: #fff; }

.successful { padding: 17px 20px 33px; }

.successful_title { color: #333333; font-size: 14px; font-weight: bold; margin-bottom: 17px; }

.resume { margin-bottom: 23px; }

.resume_list { width: 52px; height: 64px; text-align: center; margin-right: 30px; cursor: pointer; }

.resume_list div { margin-bottom: 10px; }

.resume_list:last-child { margin-right: 0; }

.resume_number { display: inline-block; color: #ff3000; font-size: 15px; padding: 15px 0; }

.resume_text { color: #333333; font-size: 13px; }

.handle_resume { margin-bottom: 23px; }

.resume_icon { width: 40px; height: 40px; background: #f8f8f8; border-radius: 50%; margin: auto; line-height: 46px; }

.resume_icon img { width: 14px; height: 14px; }

.resume_btn span { display: inline-block; background: #1787fb; padding: 11px 73px; font-size: 14px; color: #f4f8ff; cursor: pointer; border-radius: 3px; transition: all .3s; -webkit-transition: all .3s; }

.resume_btn span:hover { background: #177ae0; }

.notice_text { padding: 15px 0; height: 54px; background: url("../../assets/images/index_notice_bg.jpg") 0 center no-repeat; position: relative; }

.notice_more { position: absolute; right: 0; top: 15px; color: #333333; font-size: 12px; height: 24px; line-height: 24px; cursor: pointer; padding-right: 8px; background: url("../../assets/images/indx_more_ico.png") right 8px no-repeat; }

.notice_text2 span { color: #d0d0d0; font-size: 14px; }

.notice_list li { color: #666; font-size: 14px; line-height: 25px; max-width: 238px; height: 25px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

.notice_list li a { color: #666; font-size: 14px; cursor: pointer; }

.notice_list li::before { content: '\02022'; color: #999999; margin-right: 5px; }

.login_wrapper { padding: 0 20px 15px; }

.title { color: #333333; font-size: 18px; font-weight: bold; }

.login_title_padding { padding: 20px 0 18px; }

.right_text { color: #1787fb; float: right; font-size: 14px; line-height: 23px; cursor: pointer; font-weight: normal; }

.left_login { float: left; color: #1787fb; font-size: 12px; cursor: pointer; }

.right_pass { float: right; color: #999999; font-size: 12px; cursor: pointer; }

.logo_input { position: relative; width: 230px; height: 38px; border: 1px solid #efefef; margin-bottom: 16px; transition:border-color .2s cubic-bezier(.645,.045,.355,1); }

.logo_input .get_bt { position: absolute; right: 0; top: 0; width: 94px; height: 36px; line-height: 36px; text-align: center; color: #1787fb; z-index: 1; background: #fff; border: 0; cursor: pointer; }

.logo_input .sf { position: absolute; left: 133px; top: 9px; width: 1px; height: 20px; background: #e6e8ec; }

.logo_input input { border: none; background: none; height: 100%; width: 100%; padding-left: 8px; transition: all .3s; -webkit-transition: all .3s; }

.home_login_btn { width: 230px; color: #ffffff; font-size: 14px; background: #1787fb; border-radius: 5px; text-align: center; padding: 11px 0; margin-top: 18px; cursor: pointer; transition: all .3s; -webkit-transition: all .3s; }

.home_login_btn:hover { background: #177ae0; }

.logo_input:hover { border-color: #33CCFF; }

.login_text { text-align: center; font-size: 12px; color: #999; margin: 13px 0; }

.login_text a { color: #1787fb; cursor: pointer; }

.home_con2 { background: #fff; padding: 8px 20px; margin-top: 10px; }

.home_con2 li { width: 300px; font-size: 14px; color: #333333; margin-right: 26px; }

.home_con2 li::before { content: '\02022'; color: gray; }

.home_con2 .dynamic { width: 90px; padding-left: 24px; background: url(../images/dynamic_icon.png) 0 3px no-repeat; color: #333333; font-size: 13px; font-weight: bold; }

.home_con2 .dynamic::before { content: ' '; }

.dynamic_color a { color: #1787fb; cursor: pointer; }

.ad_wrapper1 { margin-top: 10px; height: 80px; margin-right: -10px; }

.ad_wrapper1 img { width: 1200px; height: 80px; display: block; cursor: pointer; }

.ad_box1 { width: 595px; margin-right: 10px; }

.ad_box1 img { width: 595px; }

.ad_box1:last-child { margin-right: 0; }

.welfare_wrapper { position: relative; background: #fff; margin-top: 10px; padding: 0 20px; }
.welfare_wrapper .more_welfare { position: absolute; right: 20px; top: 16px; display: block; font-size: 14px; color: #999; margin-right: 0; padding-right: 8px; background: url("../../assets/images/indx_more_ico.png") right 4px no-repeat; }
.welfare_wrapper li { float: left; margin-left: 29px; position: relative; padding: 12px 0; color: #666; font-size: 14px; cursor: pointer; }
.welfare_wrapper li.post_wrapper { margin-right: 10px; background: url(../images/welfare_icon.png) 0 16px no-repeat; padding-left: 23px; cursor: default; margin-left: 0; }
.welfare_wrapper li:not(:first-child)::after { content: ""; position: absolute; left: -15px; top: 14px; width: 1px; height: 20px; background-color: #f3f3f3; }
.welfare_wrapper li a { color: #666; font-size: 14px; text-decoration: none; }
.welfare_wrapper li a:hover { color: #1787fb; }

.home_con3 { margin-top: 10px; }

.con3_left { width: 850px; height: 466px; margin-right: 10px; }

.con3_right { width: 340px; height: 466px; background: #fff; }

.more { color: #333333; font-size: 12px; float: right; line-height: 23px; cursor: pointer; }

.more span { color: #d0d0d0; font-size: 14px; }

.pu_more { float: right; line-height: 23px; font-size: 12px; padding-right: 8px; color: #666; background: url("../../assets/images/indx_more_ico.png") right 7px no-repeat; }

.title_bottom { border-bottom: 1px solid #efefef; }

.title_padding { padding: 20px 20px; }

.job_name { display: inline-block; color: #404c5b; font-size: 14px; }

.job_name a { cursor: pointer; color: #404c5b; font-size: 14px; }

.job_name span { display: inline-block; background: #f10012; color: #fff; font-size: 12px; border-radius: 3px; padding: 2px; margin-right: 5px; }

.recruit_list { padding: 15px 0 0; }
.recruit_list .recruit_item { padding: 15px 20px; display: block; cursor: pointer; }
.recruit_list .recruit_item:hover { background-color: #fbfbfb; }

.recruit_salary { float: right; color: #ff772d; font-size: 14px; }

.company_name { color: #aeaeae; font-size: 14px; margin-top: 10px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

.company_name a { color: #aeaeae; font-size: 14px; cursor: pointer; }

.recruit_item:hover .job_name a { color: #1787fb; }

.con3_img { width: 300px; margin-right: 10px; }

.con3_img img { display: block; width: 100%; height: 100%; }

.post_update { width: 540px; height: 368px; background: #fff; }

.post_update .title_text { display: inline-block; background: #eaf4ff; color: #1787fb; font-size: 13px; padding: 4px 10px 3px; border-radius: 3px; margin-left: 4px; }

.job_icon { width: 15px; height: 13px; }

.update_list .item {max-width:500px; font-size: 14px; padding-left: 12px; position: relative; color: #404c5b; margin-bottom: 12px; height: 18px; line-height: 18px; }

.update_list .item::before { position: absolute; left: 0; top: 0; content: '\02022'; color: gray; }

.update_list .item .companyname { display: block; max-width: 230px; height: 20px; line-height: 20px; float: left; font-size: 14px; color: #404c5b; cursor: pointer; }

.update_list .item .companyname:hover { color: #1787fb; text-decoration: none; }

.update_list .item .setmeal_icon { width: 15px; height: 20px; display: block; padding-top: 2px; float: left; margin-left: 5px; }

.update_list .item .setmeal_icon img { width: 15px; height: 14px; border: 0; }

.update_list .item .setmeal_icon1 { display: block; width: 19px; height: 20px; float: left; margin-left: 5px; background: url("../images/details_icon_1.png") 0 center no-repeat; }

.update_list .item .jobname { display: block;  height: 20px; line-height: 20px; float: left; color: #1787fb; padding-left: 20px; font-size: 14px; }

.update_list .item .jobname:hover { text-decoration: underline; }

.update_list { height: 297px; padding: 20px 20px 0; }

.data_text_color { color: #1787fb; padding-left: 20px; font-size: 14px; }

.hotJobs_wrapper { height: 84px; background: #fff; margin-top: 12px; padding: 3px 13px 13px; overflow: hidden;}

.hotJobs_title { width: 60px; height: 60px; background: #ff6f3d; color: #ffffff; font-size: 16px; padding: 12px 14px; line-height: 20px; border-radius: 5px; margin-right: 15px; margin-top: 10px; }

.hotJobs_list { width: 740px; cursor: pointer; }

.hotJobs_list span { display: inline-block; border: 1px solid #f6f6f6; color: #666666; font-size: 14px; padding: 4px 10px 2px; border-radius: 30px; margin-right: 5px; margin-top: 11px; }
.hotJobs_list span:hover { border-color: #a2d0ff; }
.hotJobs_list span:hover a { color: #1787fb; }

.hotJobs_list span a { color: #666666; font-size: 14px; text-decoration: none; }

.ad_wrapper2 { margin-right: -10px; height: 90px; margin-top: 10px; }

.ad_wrapper2 .ad_box { width: 233px; height: 80px; }

.ad_wrapper2 .ad_box img { width: 233px; height: 80px; cursor: pointer; }

.ad_box { width: 395px; height: 80px; margin-right: 10px; }

.ad_box img { width: 395px; height: 80px; cursor: pointer; }

.ad_box:last-child { margin-right: 0; }

.home_con5 { margin-top: 10px; background: #fff; }

.con5_title_padding { padding: 25px 20px 20px; border-bottom: 1px solid #f1f1f1; }

.home_con5 .title_text { padding: 4px 10px 3px; background: #ffe9c9; color: #ff7011; font-size: 12px; border: 1px solid #fffbf4; margin-left: 4px; border-radius: 3px; }

.con5_list { overflow: hidden; }

.list_wrapper { margin-right: -1px; }

.list_item { width: 200px; height: 134px; background: #fff; text-align: center; border-right: 1px solid #efefef; border-bottom: 1px solid #f2f2f2; -webkit-transition: all .3s; -o-transition: all .3s; transition: all 0.3s; }

.list_item p { padding: 12px 14px; background: #f8f8f8; font-size: 14px; color: #666666; }

.list_item p a { font-size: 14px; color: #666666; cursor: pointer; display: block; height: 16px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

.list_item .img_box { background: #fff; width: 100%; height: 93px; overflow: hidden; }

.list_item .img_box img { max-width: 199px; max-height: 92px; transition: all 0.6s;}
.list_item .img_box img.ieStyle{
  width: 199px;
  height: 92px;
}

.list_item:hover .img_box img { transform: scale(1.1); }

.list_item:hover p a { color: #1787fb; }

.img_box a { display: table-cell; vertical-align: middle; cursor: pointer; }

.home_con6 { background: #fff; margin-top: 10px; }

.home_con6 .title_text { color: #ff6b3b; background: #fff7f0; font-size: 12px; padding: 4px 10px 3px; margin-left: 10px; }

.con6_title_padding { padding: 20px 20px 21px; border-bottom: 1px solid #f1f1f1; }

.postList_item { border-bottom: 1px dashed #efefef; }

.post_require { margin-bottom: 10px; }

.post_require .salary { color: #ff6600; font-size: 16px; float: right; }

.post_require_list { display: inline-block; color: #999999; font-size: 12px; }

.post_require_list span { margin-right: 10px; position: relative; }

.post_require_list span::after { content: ""; width: 1px; height: 12px; position: absolute; right: -8px; top: 2px; background: #efefef; }

.post_require_list span:last-child::after { content: ""; width: 0; height: 0; }

.release_time { color: #999999; font-size: 14px; float: right; }

.release_time2 { color: #f45c19; font-size: 14px; float: right; }

.post_list { width: 400px; border-right: 1px solid #f1f1f1; border-bottom: 1px solid #f1f1f1; }
.post_list .l_link { transition: linear all .2s; padding: 18px 20px 0; display: block; text-decoration: none; }
.post_list .l_link:hover { -webkit-box-shadow: 0 3px 20px 2px #f0f0f0; box-shadow: 0 3px 20px 2px #f0f0f0; -webkit-transform: translateY(-3px); transform: translateY(-3px); z-index: 1; }
.post_list .l_link:hover .post_name .tit { color: #1787fb; font-weight: bold; }
.post_list .l_link .post_name { line-height: 20px; margin-bottom: 8px; }
.post_list .l_link .post_name .tit { float: left; max-width: 286px; height: 20px; font-size: 16px; color: #333; }
.post_list .l_link .post_name .date { float: right; font-size: 14px; color: #999; }
.post_list .l_link .post_name .date .new { color: #ff6600; }
.post_list .l_link .post_require { line-height: 20px; margin-bottom: 8px; }
.post_list .l_link .post_require .sInfo { display: block; float: left; position: relative; font-size: 12px; color: #999; }
.post_list .l_link .post_require .sInfo:not(:first-child) { padding-left: 16px; }
.post_list .l_link .post_require .sInfo:not(:first-child)::after { content: ''; position: absolute; left: 8px; top: 4px; height: 12px; border-left: 1px solid #efefef; }
.post_list .l_link .post_require .sPayroll { float: right; font-size: 16px; color: #ff6600; }
.post_list .l_link .post_tag { height: 20px; margin-bottom: 12px; }
.post_list .l_link .post_tag .sTag { display: block; float: left; line-height: 1; padding: 3px 5px; font-size: 12px; color: #1787fb; border: 1px solid #bbdcff; border-radius: 3px; }
.post_list .l_link .post_tag .sTag:not(:first-child) { margin-left: 5px; }
.post_list .l_link .post_company { height: 42px; line-height: 42px; border-top: 1px dashed #efefef; }
.post_list .l_link .post_company .cName { float: left; max-width: 310px; font-size: 12px; color: #999; }
.post_list .l_link .post_company .cIc1 { float: left; width: 19px; height: 40px; margin-left: 5px; background: url("../images/details_icon_1.png") 0 center no-repeat; }
.post_list .l_link .post_company .cIc2 { position: relative; float: left; width: 15px; height: 40px; margin-left: 5px; }
.post_list .l_link .post_company .cIc2 img { position: absolute; left: 0; top: 50%; transform: translate(0, -50%); width: 15px; height: 13px; border: 0; }

.postList_wrapper { border-bottom: 1px dashed #F1F1F1; margin-bottom: 12px; }

.welfare { height: 30px; }

.welfare span { padding: 2px 5px; font-size: 12px; color: #999; border: 1px solid #efefef; margin-right: 5px; }

.list_bottom_name { color: #999; font-size: 12px; }

.list_bottom_name .cn { display: block; float: left; font-size: 12px; color: #999; line-height: 16px; max-width: 310px; }

.list_bottom_name .ic1 { float: left; width: 19px; height: 16px; background: url("../images/details_icon_1.png") 0 center no-repeat; margin-left: 5px; }

.list_bottom_name .ic2 { float: left; width: 15px; height: 16px; margin-left: 5px; padding-top: 1px; }

.list_bottom_name .ic2 img { width: 15px; height: 14px; border: 0; }

.list_bottom_name .job_icon1 { vertical-align: -3px; }

.home_con7 { margin-top: 10px; }

.jobs_list_wrapper { width: 850px; height: 430px; background: #fff; margin-right: 10px; }

.jobs_list { padding: 7px 0 0; }

.post { color: #333333; font-size: 14px; margin-bottom: 8px; padding-left: 15px; position: relative; font-weight: 500; }

.post a { color: #333333; font-size: 14px; font-weight: bold; cursor: pointer; }

.post::after { content: '\02022'; color: #999999; position: absolute; left: 0; top: 0; }

.jobs_item { width: 425px; padding: 15px 20px; font-weight: normal; cursor: pointer; }
.jobs_item:hover { background-color: #fbfbfb; }
.jobs_item:hover .post a { color: #1787fb; }

.post_region { color: #999; font-size: 14px; font-weight: normal; }

.active_color, .active_color a { color: #1787fb; font-size: 14px; }

.post_salary { color: #ff6600; font-size: 14px; float: right; margin-right: 15px; }

.item_name { color: #999999; font-size: 14px; padding-left: 15px; max-width: 385px; height: 16px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

.item_name a { color: #999999; font-size: 12px; cursor: pointer; }

.company_pages { width: 340px; height: 430px; background: #fff; }

.company_pages_list { padding: 20px 20px 14px; }

.jobs_title_padding { padding: 20px; border-bottom: 1px solid #f1f1f1; }

.homePages_list { text-align: center; width: 90px; height: 82px; margin-right: 10px; margin-bottom: 31px; }
.homePages_list:hover p a { color: #1787fb; }

.company_logo { width: 50px; height: 50px; margin: 0 auto 11px; }

.company_logo a { cursor: pointer; }

.company_logo img { width: 50px; height: 50px; border-radius: 4px; }

.homePages_list p { font-size: 12px; color: #666666; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.homePages_list p a { font-size: 12px; color: #666666; cursor: pointer; }

.right_title_text { background: url(../images/icon.png) 0 5px no-repeat; padding-left: 17px; color: #1787fb; font-size: 14px; float: right; line-height: 23px; cursor: pointer; }

.home_con8 { background: #fff; margin-top: 10px; }

.con8_title_padding { padding: 20px 20px; border-bottom: 1px solid #f3f3f3; }

.home_con8 .margin { margin-right: 19px; }

.personnel_list1 { border-top: 1px solid #f0f0f0; border-bottom: 1px solid #f0f0f0; }

.personnel_item { border-right: 1px solid #efefef; width: 300px; text-align: center; }

.personnel_item:last-child { border-right: none; }

.personnel_img { width: 64px; border-radius: 50%; padding: 25px 0 6px; margin: auto; }

.personnel_img img { width: 64px; height: 64px; border-radius: 50%; }

.require_padding { padding: 10px 0 13px; font-size: 14px; }

.personnel_name, .personnel_name a { color: #333333; font-size: 16px; font-weight: bold; cursor: pointer; }

.personnel_name img { width: 45px; height: 16px; vertical-align: -2px; font-weight: bold; }

.updateTime { font-size: 12px; color: #999999; margin-bottom: 13px; }

.personnel_list1_btn { padding-bottom: 31px; }

.personnel_list1_btn .btn { width: 120px; background: #1787fb; border-radius: 5px; color: #ffffff; font-size: 14px; padding: 8px 32px; margin: auto; cursor: pointer; }

.personnel_item2 { width: 300px; border-right: 1px solid #efefef; border-bottom: 1px solid #efefef; }

.personnel_item2 .l_link { transition: linear all .2s; padding: 20px 20px; display: block; text-decoration: none; cursor: pointer; }

.personnel_item2 .l_link:hover { -webkit-box-shadow: 0 3px 20px 2px #f0f0f0; box-shadow: 0 3px 20px 2px #f0f0f0; -webkit-transform: translateY(-3px); transform: translateY(-3px); z-index: 9; }

.personnel_item2 .l_link:hover .personnel_name2 a { color: #1787fb; }

.personnel_img2 { width: 45px; height: 45px; margin-right: 8px; }

.personnel_img2 img { width: 45px; height: 45px; border-radius: 45px; }

.personnel_name2 { margin-bottom: 7px; }

.personnel_name2 .cn { display: block; float: left; font-size: 16px; color: #333333; font-weight: bold; line-height: 20px; max-width: 100px; }

.personnel_name2 .ic1 { float: left; display: block; width: 45px; height: 20px; background: url("../images/great.png") 0 center no-repeat; margin-left: 10px; }

.personnel_item2 .jan { margin-bottom: 4px; }

.job_type { padding: 10px 0; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.job_type, .region { color: #666666; font-size: 12px; padding-left: 3px; }

.job_type span, .region span { color: #999999; font-size: 12px; }

.home_con9 { margin-top: 10px; }

.consult { width: 850px; height: 398px; margin-right: 10px; background: #fff; }

.con9_title_padding { padding: 20px 20px; border-bottom: 1px solid #f3f3f3; }

.consult_title { padding: 20px 20px 20px; }

.consult_title li { width: 400px; margin-bottom: 9px; }
.consult_title li:hover .text1 { color: #1787fb; }
.consult_title li:hover .text2 { color: #1787fb; }

.consult_title li a { color: #999; font-size: 14px; margin-right: 5px; cursor: pointer; display: block; float: left; height: 24px; }

.consult_title li .text2 { color: #666; font-size: 14px; max-width: 224px; }

.consult_time { color: #999; font-size: 12px; float: right; margin-right: 18px; }

.tool { width: 340px; height: 398px; background: #fff; }

.tool_list { padding: 25px 20px 0; }

.tool_list li { background: #f8f8f8; display: block; width: 270px; height: 34px; line-height: 34px; margin: 0 auto 15px; position: relative; padding: 0 10px 0 42px; }

.tool_list li a { color: #666666; font-size: 14px; }
.tool_list li a:hover { color: #1787fb; }

.tool_list li img { width: 34px; height: 34px; border: 0; position: absolute; left: 0; top: 0; }

.home_con10 { margin-top: 10px; background: #fff; }

.QQ_link { float: right; color: #999999; font-size: 14px; font-weight: normal; line-height: 20px; }

.QQ_link a { color: #1787fb; margin-left: 3px; }

.con10_title_padding { padding: 20px 20px; border: 1px solid #f0f0f0; }

.link_list { padding: 20px 20px 10px; }

.link_list a { display: inline-block; margin-right:30px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; margin-bottom: 10px; color: #666; font-size: 14px; cursor: pointer; }
.link_list a:hover { color: #1787fb; }

/*网站动态*/
.online_box { width: 1200px; height: 40px; position: relative; background: #fff; margin-top: 10px; }

.online_box .on_app { width: 120px; height: 40px; line-height: 40px; font-size: 14px; color: #333333; font-weight: bold; padding-left: 42px; position: absolute; left: 0; top: 0; background: url("../images/dynamic_icon.png") 17px center no-repeat; }

.online_box .app_live { float: right; margin-top: 11px; width: 1080px; height: 18px; font-size: 14px; overflow: hidden; color: #333333; }

.online_box .app_live ul { width: 200%; padding-left: 25px; }

.online_box .app_live ul li { display: block; float: left; width: 360px; padding: 0 10px; height: 18px; line-height: 18px; background: url(../images/list_square.png) left center no-repeat; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: #666666; }

.online_box .app_live ul li a { display: block; max-width: 128px; float: left; height: 18px; color: #1787fb; padding: 0 6px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

.online_box .app_live ul li a:hover { text-decoration: underline; }

.online_box .app_live ul li .m_text { display: block; float: left; height: 18px; color: #666; }

/*底部引导*/
.bottom_guide { position: fixed;left: 0;right: 0;bottom: 0;width: 100%;height: 101px;z-index: 5;display: none; }
.bottom_guide .btg_pop { position: absolute;left: 0;top: 0;z-index: 3;background-color: #000000;opacity: .80;filter: alpha(opacity=80);width: 100%;height: 101px; }
.bottom_guide .btg_container { position:relative;width: 1200px;height: 101px;margin: 0 auto;z-index: 4; }
.bottom_guide .btg_container .btg_icon { position: absolute;left: 0;bottom: 0;width: 147px;height: 144px;background: url("../images/index_bt_guide_ico.png") 0 no-repeat; }
.bottom_guide .btg_container .btg_t1 { position: absolute;left: 160px;top: 24px;line-height: 1;font-size: 28px;color: #ffffff; }
.bottom_guide .btg_container .btg_t2 { position: absolute;left: 160px;top: 65px;line-height: 1;font-size: 16px;color: #ffffff; }
.bottom_guide .btg_container .btg_btn_1 { position: absolute;left: 655px;top: 33px;width: 120px;height: 36px;line-height: 36px;text-align: center;display: block;cursor: pointer;border: 0;font-size: 15px;color: #ffffff;border-radius: 36px;background: linear-gradient(to right, #06c97e, #099d81); }
.bottom_guide .btg_container .btg_btn_1:hover { background: linear-gradient(to right, #0fa26b, #069378); }
.bottom_guide .btg_container .btg_btn_2 { position: absolute;right: 289px;top: 33px;width: 120px;height: 36px;line-height: 36px;text-align: center;display: block;cursor: pointer;border: 0;font-size: 15px;color: #ffffff;border-radius: 36px;background: linear-gradient(to right, #f0a54f, #f26e5c); }
.bottom_guide .btg_container .btg_btn_2:hover { background: linear-gradient(to right, #d49144, #db6453); }
.bottom_guide .btg_container .btg_icon_1 { position: absolute;right: 3px;bottom: 33px;width: 253px;height: 131px;background: url("../images/index_bt_guide_ico_1.png") 0 no-repeat; }
.bottom_guide .btg_container .btg_qr_box { position: absolute;right: 56px;bottom: 33px;width: 105px;height: 105px;background-color: #ffffff;z-index: 5;box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1); }
.bottom_guide .btg_container .btg_qr_box .qr_img { width: 94px;height: 94px;display: block;margin: 5px auto 0; }
.bottom_guide .btg_container .btg_close { position: absolute;right: 44px;top: -48px;width: 24px;height: 24px;border-radius: 24px;cursor: pointer;background: #cccccc url("../images/index_bt_guide_ico_2.png") center no-repeat;z-index: 5; }
.bottom_guide .btg_container .btg_close:hover { background: #bcbbbb url("../images/index_bt_guide_ico_2.png") center no-repeat; }
.bottom_guide .btg_container .btg_t3 { position: absolute;right: 51px;bottom: 10px;line-height: 1;font-size: 12px;color: #ffffff; }


/* 头部下拉广告位 */
.w1200{
  width: 1200px;
  margin: 0 auto;
}
.down_source {
  position: relative;
  /* overflow: hidden; */
  text-align: right;
}
.down_source .source_box {
  overflow: hidden;
  height: 0;
}
.down_source .source_box .img_link {
  display: block;
  width: 100%;
  background-color: #ccc;
  position: relative;
}
.down_source .source_box .img_link .close{
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 19px;
  height: 19px;
  background: #fff;
  text-align: center;
  line-height: 19px;
}
.down_source .source_box .img_link img {
  width: 1200px;
  height: 500px;
}
.down_source .source_btn {
  width: 42px;
  height: 19px;
  font-size: 12px;
  line-height: 19px;
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  padding-left: 10px;
  right: -58px;
  top: 0;
  z-index: 3;
  background: url(../images/bn_play.gif) no-repeat center center /100% 100%;
  color: #999;
  border: none;
}
.down_source .source_btn:disabled {
  color: #999;
}
.down_source .source_btn:hover {
  color: #1787fb;
}

/* 弹窗广告位 */
.mantle_box{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background:rgba(0, 0, 0, 0.5);
  z-index:10;
}
.popup_source {
  width: 660px;
  height: 280px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  background-color: #fff;
  display: none;
}
.popup_source .popup_close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  z-index: 11;
  padding: 0 8px;
  background-color: rgba(0,0,0,.6);
  color:#fff;
  line-height:20px;
  border: 1px solid rgba(255,255,255,.4);
  border-radius: 5px;
}
.popup_source .popup_source_link {
  display: block;
  width: 100%;
  height: 100%;
}
.popup_source .popup_source_link img {
  width: 660px;
  height: 280px;
}

