{#layout name="public/layout" /#}
{#load href="__ROOT__/assets/css/article.css" /#}
<div id="app">
    <div class="information_banner">
        <img src="__ROOT__/assets/images/video_information_banner.png">
    </div>
    <div class="content_wrapper">
        <div class="content">
            <div class="information_nav_wrapper clearfix" @mouseleave.stop="showSecondLine=false">
                <div class="information_nav_con">
                    <div class="information_nav">
                        <a {#if condition="!$Request.param.cid" #}class="active_text" {#/if#}
                            href="{#:P(['cid'=>null])#}">全部分类</a>
                        {#volist name="options1" id="vo"#}
                        <a {#if condition="$key eq $Request.param.cid" #}class="active_text" {#/if#}
                            href="{#:P(['cid'=>$key])#}">{#$vo#}</a>
                        {#/volist#}
                        {#if condition="count($options2) gt 0"#}
                        <a class="open_btn active_open_btn" href="javascript:;"
                            @mouseenter.stop="showSecondLine=true">···</a>
                        {#/if#}
                    </div>
                    <div class="information_nav2" v-show="showSecondLine">
                        {#volist name="options2" id="vo"#}
                        <a {#if condition="$key eq $Request.param.cid" #}class="active_text" {#/if#}
                            href="{#:P(['cid'=>$key])#}">{#$vo#}</a>
                        {#/volist#}
                    </div>
                </div>
            </div>
            <div class="lists">
                {#if condition="count($list) gt 0"#}
                {#volist name="list" id="vo"#}
                <div class="list">
                    <a href="{#$vo.link_url#}" target="_blank">
                        <img class="list-img" src="{#$vo.thumb_src#}" alt="">
                        <h3 class="title">{#$vo.title#}</h3>
                        <img class="icon-img" src="/assets/images/notice_icon1.png" alt="">
                        <span class="time">
                            {#:date('Y-m-d H:i',$vo.addtime)#}
                            &nbsp;&nbsp;&nbsp;
                            <img class="icon-img" src="/assets/images/notice_icon2.png" alt="">
                            <span class="handle_see">{#$vo.click#}</span>
                        </span>
                        <br>
                        <a class="guide" href="{#:P(['cid'=>$vo.cid])#}">
                            <span class="original2">{#$options[$vo.cid]#}</span>
                        </a>
                        {#eq name="vo.source" value="0"#}
                        <span class="original">长丰英才网</span>
                        {#else/#}
                        <span class="original2">转载</span>
                        {#/eq#}
                    </a>
                </div>
                {#/volist#}
                {#else#}
                <div class="list_empty n_bd">
                    <div class="emp_text">暂时没有数据哦</div>
                </div>
                {#/if#}
                {#$pagerHtml#}

            </div>
        </div>
    </div>
</div>
<style>
    .icon-img {
        width: 12px;
        height: 12px;
    }

    .lists {
        background-color: #fff;
        margin-top: 20px;
        padding: 40px 0 20px 0;
        margin-bottom: 30px;
        display: grid;
        grid-template-columns: 400px 400px 400px;
    }

    .list {
        width: 350px;
        height: 310px;
        margin-bottom: 20px;
        margin: 0 auto;
    }

    .list_empty{
        grid-column-end: 3;
    }
    .list-img {
        /* width: 100%; */
        width: 350px;
        height: 200px;
        border: 1px solid #ccc;
        margin-bottom: 20px;

    }

    .title {
        color: #333;
        margin-bottom: 10px;
    }

    .time {
        font-size: 14px;
        color: #666;
    }

    .original {
        display: inline-block;
        line-height: 1;
        padding: 4px 12px 4px 14px;
        font-size: 12px;
        border-radius: 10px;
        background: #eff7ff;
        color: #1787fb;
        margin-top: 15px;
    }

    .original2 {
        display: inline-block;
        line-height: 1;
        padding: 4px 12px 4px 14px;
        font-size: 12px;
        border-radius: 10px;
        background: #f3f3f3;
        color: #999999;
        margin-right: 20px;
        margin-top: 15px;
    }
</style>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            showSecondLine: false,
        }
    })
</script>