{#layout name="public/layout" /#}
{#load href="__ROOT__/assets/css/article.css" /#}
<div class="content_wrapper" id="app">
    <div class="content">
        <div class="information_detailed clearfix">
            <div class="information_detailed_left float">

                <div class="detailed_title_box">
                    <p class="detailed_title">{#$info.title#}</p>
                    <div class="detailed_bottom clearfix">
                        {#eq name="info.source" value="0"#}
                        <span class="original">长丰英才网</span>
                        {#else/#}
                        <span class="original2">转载</span>
                        {#/eq#}
                        <span class="guide">{#$info.category_text#}</span>
                        <p class="handle_right">
                            <el-popover placement="bottom-end" width="200" trigger="hover">
                                <span>
                                    <img :src="shareQrcode" width="174" height="174" />
                                    <span style="display:block;width:174px;text-align: center;">请用微信扫一扫</span>
                                </span>
                                <span class="share" slot="reference">分享</span>
                            </el-popover>
                            <span class="handle_time">{#:date('Y-m-d H:i',$info.addtime)#}</span>
                            <span class="handle_see" v-cloak>{{clickNum}}</span>
                        </p>
                    </div>
                </div>


                <div class="video-box">
                    <video width="813" height="500" autoplay="autoplay" loop="loop" muted="muted" controls>
                        <source src="{#$info.video#}" type="video/mp4" />
                        Your browser does not support the video tag.
                    </video>
                </div>
                <div class="detailed_con">
                    {#$info.content#}
                    {#if condition="count($info.attach) gt 0"#}
                    <div style="margin-top:20px;" class="attach-list">
                        <ul>
                            {#volist name="info.attach" id="vo"#}
                            <li>附件【<a
                                    href="{#:url('index/download/index')#}?url={#:urlencode($vo.url)#}&name={#$vo.name#}"
                                    target="_blank">{#$i#}：{#$vo.name#}</a>】</li>
                            {#/volist#}
                        </ul>
                    </div>
                    {#/if#}
                </div>
                <div class="detailed_paging clearfix">
                    {#if condition="$prev===null"#}
                    <a class="rec">上一篇： 没有了</a>
                    {#else /#}
                    <a class="rec" href="{#$prev.link_url#}" target="_blank">上一篇： {#$prev.title#}</a>
                    {#/if#}
                    {#if condition="$next===null"#}
                    <a class="rec">下一篇： 没有了</a>
                    {#else /#}
                    <a class="rec" href="{#$next.link_url#}" target="_blank">下一篇： {#$next.title#}</a>
                    {#/if#}
                </div>
            </div>
            <div class="information_detailed_right float">
                <!-- <div class="detailed_sort">
                    <div class="sort_title">直播分类</div>
                    <div class="sort_list">
                        {#volist name="options" id="vo"#}
                        <a href="{#:url('index/article/index',['cid'=>$key])#}">{#$vo#}</a>
                        {#/volist#}
                    </div>
                </div> -->
                <div class="hot_sort">
                    <div class="hot_sort_title clearfix">
                        热门推荐
                    </div>
                    <div class="hotSort_list_wrapper">
                        {#volist name="hotArticleList" id="vo"#}
                        <div class="list">
                            <a href="{#$vo.link_url#}" target="_blank">
                                <img class="list-img" src="{#$vo.thumb_src#}" alt="">
                                <span class="img-title">{#$vo.title#}</span><br>
                                <div class="time">
                                    <img class="icon-img" src="/assets/images/notice_icon1.png" alt="">
                                    <span>{#:date('Y-m-d H:i',$vo['addtime'])#}</span> &nbsp;&nbsp;
                                    <img class="icon-img" src="/assets/images/notice_icon2.png" alt="">
                                    <span>1</span>
                                </div>
                            </a>
                        </div>
                        {#/volist#}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .icon-img {
        width: 12px;
        height: 12px;
    }

    .information_detailed .hot_sort {
        margin-top: 0px;
    }

    .video-box {
        margin-bottom: 30px;
    }

    .title {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .title-txt p {
        font-size: 15px;
        color: #333;
        margin-bottom: 5px;
        text-indent: 30px;
    }

    .list {
        width: 100%;
        height: 200px;

        margin-bottom: 20px;
    }

    .list-img {
        width: 100%;
        height: 150px;
        margin-bottom: 10px;
    }

    .img-title {
        line-height: 20px;
        font-size: 14px;
        color: #333;
    }

    .time {
        margin-top: 3px;
    }
</style>
<script>
    var id = parseInt("{#$info.id#}")
    var app = new Vue({
        el: '#app',
        data: {
            clickNum: 0,
            shareQrcode: ''
        },
        created: function () {
            this.addClick()
            var locationUrl = "{#$info.share_url#}"
            this.shareQrcode = qscms.apiUrl + qscms.apiList.qrcode + '?type=normal&url=' + locationUrl
        },
        methods: {
            addClick: function () {
                var that = this
                httppost(qscms.apiList.articleClick, { id: id }).then(function (res) {
                    that.clickNum = res.data
                }).catch(function () { })
            },
        }
    })
</script>