<!doctype html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <meta name="Author" content="">
    <meta name="Keywords" content="">
    <meta name="Description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="telephone=no" name="format-detection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <title>客服</title>
</head>
<body>
<div style="width: 100%;text-align: center;height: 100vh;line-height: 100vh;">
    <a href="/index/Weixin/closeDialogue?openid={#$openid#}">结束会话</a>
</div>
</body>
</html>