<el-form ref="tipoffForm" :rules="tipoffRules" :model="tipoffForm" label-width="120px">
	<el-form-item label="举报原因" prop="reason" style="margin-bottom: 22px !important;">
		<el-select v-model="tipoffForm.reason" placeholder="请选择举报原因">
			<el-option :label="item.name" :value="item.id" v-for="(item, index) in options_tipoff" :key="index">
			</el-option>
		</el-select>
	</el-form-item>
	<el-form-item label="备注说明(必填)" prop="content" style="margin-bottom: 22px !important;">
		<el-input type="textarea" v-model="tipoffForm.content" placeholder="请简要描述您的问题，以便我们尽快核实解决" rows="3" minlength="2"
			maxlength="100" show-word-limit></el-input>
	</el-form-item>
	<el-form-item style="margin-bottom: 22px !important;">
		<el-button type="primary" @click="handleSubmitTipoff">提交</el-button>
	</el-form-item>
</el-form>